@use "css-reset-and-normalize";
@use "./base";
@use "./header";

@import url("https://fonts.googleapis.com/css?family=Material+Icons|Lato:300,400,700|Ubuntu:400,500,500i&subset=latin-ext");

form {
  &.find-city {
    display: flex;
    align-items: center;

    input {
      border: 1px solid #eaeaea;
      border-radius: 8px;
      padding: 6px;
      font-size: 0.8rem;
      outline: none;
      color: #333;
      width: 100%;
      height: 35px;

      &::placeholder {
        font-family: "Lato", sans-serif;
      }
    }

    button {
      background: #ffc200;
      cursor: pointer;
      box-shadow: none;
      border: none;
      color: white;
      outline: none;
      border-radius: 10px;
      margin-left: 10px;
      height: 35px;

      &:hover {
        background: orange;
      }
      &.loading {
        position: relative;
        color: orange;
        background: orange;
        &:before{
          content:'';
          position: absolute;
          left: 50%;
          top:50%;
          transform: translate(-50%, -50%) rotate(0deg);
          width:15px;
          height:15px;
          border-radius: 50%;
          border:5px solid rgba(255,255,255,0.2);
          border-right-color:#fff;
          animation: loading 0.3s 0s infinite linear;
        }
      }
    }
  }
}
@keyframes loading {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.weather {
  .currently, .daily {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 30px;
    @media (max-width: 500px){
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
    }
  }
  .daily {
    margin-bottom: 0;
    padding-top: 30px;
    border-top: 1px solid lightgray;


    .weather__icon {
      .dayName {
        font-weight: bold;
        margin-bottom: 10px;
      }
      div {
        .info {
        }
        height: 4rem;
        margin-bottom: 10px;
      }
      img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }
      span {
        font-size: 0.8rem;
      }

    }
  }


  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    max-width: 140px;
    @media (max-width: 500px){
      max-width: 100px;
      margin-top: 10px;
    }
    img {
      width: 140px;
      @media (max-width: 500px){
        width: 100px;
        margin-bottom: 10px;
      }

    }
  }
  &__info__icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 500px){
      width: auto;
    }
  }
  &__info__add {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .pressure, .wind, .humidity {
      margin: 15px;
      margin-left: 10px;

    }
    .small_icon {
      width: 20px;
      height: 20px;
    }
  }

  &__info {
    margin-top: 50px;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
    @media (max-width: 500px){
      width: 120px;
      margin-top: 20px;

    }


    .city {
      font-family: "Ubuntu", sans-serif;
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 40px;
      @media (max-width: 500px){
        width: 120px;
        font-size: 1.2rem;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
      }
      span {
        @media (max-width: 500px){
          text-align:  center;
        }
      }
      .time_zone {
        font-size: 1rem;
        margin-top: 2px;
        @media (max-width: 500px){
          width: 120px;
          text-align: center;
        }
      }
    }

    .temperature {
      font-family: "Ubuntu", sans-serif;
      font-size: 2.5rem;
      color: #333030;
      font-weight: 500;
      @media (max-width: 500px){
        width: 120px;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  div {
    margin-bottom: 5px;
    @media (min-width: 500px){
      display: inline-block;
    }
  }
  span {
    @media (max-width: 500px){
      display: none;
    }
  }
}
